
body{
    text-align: center;
    font-family: fantasy;
    /* background-color: antiquewhite; */
    background: #FF9914;
background: radial-gradient(circle,#FFCA85 #FFAF47, #E74B7F);

}

#title{
    color:#A33B20
}

#updatesBox{
    border: 2px solid red;
    padding:10px;
}

#gameCanvas{
    border-radius: 15px;
}

button{
    font-family: fantasy;
    border-radius: 5px 5px 5px;
    background-color:chocolate;
}

#diceResults{
    margin-top: 5px;
}

a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px 5px 5px;
    background-color:chocolate;
    color: black;
    font-size: small;
    padding: 3px;
}

#rulesDiv{
    margin-bottom: 5px;
    /* position: sticky; */

}

h4{
    margin-top:10px;
    margin-bottom:2px;
}
button:hover, a:hover{
    cursor: pointer;
}


