*{
    text-align: center;
    background: url('./mountainHike.jpg') no-repeat center fixed;
    background-size: cover;
    font-family: fantasy;
}

a{
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
}

#play{
    border: 2px solid black;

}

a:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px blue;
}
